-
  var rows = [
    {
      title: 'ЦП-Легковая 1гр-5/5-Л-цинк',
      width: '135',
      height: '80',
      radius: 'R12',
      caliber: '5/5',
      weight: '4,6',
    },
    {
      title: 'ЦП-Легковая 2гр-5/5-Л-цинк',
      width: '175',
      height: '70',
      radius: 'R13',
      caliber: '5/5',
      weight: '5,2',
    },
    {
      title: 'ЦП-Внедорожник 1гр-5/5-Л-цинк',
      width: '205',
      height: '70',
      radius: 'R15',
      caliber: '5/5',
      weight: '7,7',
    },
    {
      title: 'ЦП-Внедорожник 2гр-5/5-Л-цинк',
      width: '215',
      height: '90',
      radius: 'R15',
      caliber: '5/5',
      weight: '7,7',
    },
    {
      title: 'ЦП-Легковая 1гр-5/5-Л-цинк',
      width: '135',
      height: '80',
      radius: 'R12',
      caliber: '5/5',
      weight: '4,6',
    },
    {
      title: 'ЦП-Легковая 2гр-5/5-Л-цинк',
      width: '175',
      height: '70',
      radius: 'R13',
      caliber: '5/5',
      weight: '5,2',
    },
    {
      title: 'ЦП-Внедорожник 1гр-5/5-Л-цинк',
      width: '205',
      height: '70',
      radius: 'R15',
      caliber: '5/5',
      weight: '7,7',
    },
    {
      title: 'ЦП-Внедорожник 2гр-5/5-Л-цинк',
      width: '215',
      height: '90',
      radius: 'R15',
      caliber: '5/5',
      weight: '7,7',
    },
  ];

mixin adaptive-table
  .adaptive-table-wrapper&attributes(attributes)
    table
      thead
        tr
          th(scope='coll') Наименование
          td(scope='coll') Ширина
          td(scope='coll') Высота
          td(scope='coll') Радиус
          td(scope='coll') Калибр
          td(scope='coll') Вес
      tbody
        each row in rows
          tr
            th(scope='row')= row.title
            td= row.width
            td= row.height
            td= row.radius
            td= row.caliber
            td= row.weight
