mixin production-card(type)
  article.production-card&attributes(attributes)
    .production-card__header
      h2.production-card__heading
        a.production-card__link(href='catalog.html')!= type.title
      picture.production-card__image-wrapper
        source(media='(min-width: 1281px)' srcset=`${type.cardImage}-desktop.webp 1x, ${type.cardImage}-desktop.webp 2x`)
        source(media='(min-width: 421px)' srcset=`${type.cardImage}-laptop.webp 1x, ${type.cardImage}-laptop.webp 2x`)
        img.production-card__image(src=`${type.cardImage}.webp` srcset=`${type.cardImage}@2x.webp` alt='')
    p.production-card__text!= type.description
    if type.categories
      .production-card__shortcuts
        +shortcuts(type.categories)
